<th:block xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }

        ul {
            list-style: none;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
    <table>
        <thead>
        <tr>
            <th scope="col">Course ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Teacher ID</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${coursesList}">
            <td th:text="${course.getCourseId()}"></td>
            <td th:text="${course.getName()}  + ' ' + ${course.getHowManyTimes()}"></td>
            <td th:text="${course.getDescrpition()}"></td>
            <td th:text="${course.getTeacher().getId()}"></td>
            <td>
                <form th:method="DELETE" th:action="@{'courses/delete/{id}' (id=${course.getCourseId()})}">
                    <button type="submit"
                            class="btn btn-sm btn-danger delete-product">
                        <i class="fa fa-trash">Delete</i>
                    </button>
                </form>
                <a th:href="@{'/courses/edit/{id}' (id=${course.getCourseId()})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
   <div>
       <a href="/courses/add-course">Add new course</a>
   </div>
</header>
<main>


    <h2>Choose course:</h2>
    <form th:method="POST" th:action="@{/courses}">
        <ul>
            <li th:each="course : ${coursesList}">
                <input type="radio" name="courseId" th:value="${course.getCourseId()}">
                <th:block th:text="${course.getName()}"></th:block>
                <br/>
            </li>
        </ul>


        <br/>
        <input type='submit' value='Submit'/>
    </form>
</main>
</body>
</html>
</th:block>